In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# 1. Load the dataset into python environment

In [2]:
url = "/content/titanic_dataset (1).csv"
titanic_df = pd.read_csv(url)

# 2. Make ‘PassengerId’ as the index column

In [3]:
titanic_df.set_index('PassengerId', inplace=True)

# 3. Check the basic details of the dataset

In [4]:
print(titanic_df.info())
print(titanic_df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB
None
         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

# 4. Fill in all the missing values present in all the columns in the dataset

In [5]:
titanic_df.fillna(titanic_df.mean(), inplace=True)

<ipython-input-5-22dfa41b45f0>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  titanic_df.fillna(titanic_df.mean(), inplace=True)

# 5. Check and handle outliers in at least 3 columns in the dataset

In [11]:
def handle_outliers(column):
    Q1 = titanic_df[column].quantile(0.25)
    Q3 = titanic_df[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    titanic_df[column] = titanic_df[column].apply(lambda x: lower_bound if x < lower_bound else (upper_bound if x > upper_bound else x))

handle_outliers('Age')
handle_outliers('Fare')
handle_outliers('SibSp')

### Separate the target variable 'Survived' and exclude non-numeric columns

In [23]:
X = titanic_df.drop(['Survived', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1)
y = titanic_df['Survived']

# 6. Do min max scaling on the feature set (Take ‘Survived’ as target)

In [21]:
scaler = MinMaxScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)

### Display the scaled features

In [22]:
print(X_scaled.head())

   Pclass       Age  SibSp  Parch      Fare
0     1.0  0.375000    0.4    0.0  0.110460
1     0.0  0.682692    0.4    0.0  1.000000
2     1.0  0.451923    0.0    0.0  0.120745
3     0.0  0.625000    0.4    0.0  0.809027
4     1.0  0.625000    0.0    0.0  0.122649